@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
#root {
  font-family: 'Roboto', sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;

  max-width: 100vw;
  
  /* @media (min-width: 768px) {
   margin: 0; 
   max-width: 100vw;
  } */
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .title {
    width: 90%;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 45px;
  
  @media (min-width: 768px) {
   flex-direction: row; 
   flex-wrap: wrap;

   margin: 0 2%;
  }
}